body {
    margin:  0px;
    padding: 0px;
    
}


.section1 {
    position: relative;
    background: url(./img/main\ theme.png) center no-repeat;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
}

.rectangle-1 {
    position: absolute;
    width: 261px;
    height: 54px;
    left: 0px;
    top: 0px;
    background-color: #039e1d;
    
    
}

.rectangle-1:hover {
    cursor: pointer;
}
.text01 {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #1E1E1E;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;    
    line-height: 49px;
    color: #1E1E1E;  
}


.rectangle-2 {
    position: absolute;
    width: 261px;
    height: 54px;
    left: 300px;
    top: 0px;
    background-color: #039e1d;
    
}

.text02 {
    position: absolute;
    
    left: 0px;
    top: 0px;
    
    color: #1E1E1E;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;    
    line-height: 49px;
    color: #1E1E1E;  
}



.rectangle-3 {
    position: absolute;
    width: 261px;
    height: 54px;
    left: 600px;
    top: 0px;
    background-color: #039e1d;
    
}

.text03 {
    position: absolute;
    
    left: 0px;
    top: 0px;
    
    color: #1E1E1E;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;    
    line-height: 49px;
    color: #1E1E1E;  
}


.maintext {
    position: absolute;
    width: 489px;
    height: 78px;
    right: 150px;
    top: 850px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    color: #00d620;
}

.icon1 {
    
    position: absolute;
    background-image: url(./img/hd-profile-user.png);
    width: 101px;
    height: 106px;
    left: 68px;
    top: 830px;
}


.icon1:hover {
    cursor: pointer;
}

.line {
    
    border: none;
    border-top: 9px solid #00560E; 
    margin: 0 auto;
} 



@media screen and (max-width: 768px) {
    .section1 {
    background-size: cover;
    }
    .rectangle-1 {
        
        width: 30%;
        height: 5%;
        left: 10px;
        top: 0px;
        background-color: #039e1d;
}
.rectangle-2 {
    
    width: 30%;
    height: 5%;
    left: 130px;
    top: 0px;
    background-color: #039e1d;
}

.rectangle-3 {
    
    width: 30%;
    height: 5%;
    left: 250px;
    top: 0px;
    background-color: #039e1d;
}

    .text01 {
        width: 30%;
        height: 5%;
        left: 0px;
        top: -7px;
        background-color: #039e1d;
        font-size: 30px;
}


.text02{
    
    width: 30%;
    height: 5%;
    left: 0px;
    top: -7px;
    background-color: #039e1d;
    font-size: 30px;
}

.text03 {
    
    width: 30%;
    height: 5%;
    left: 0px;
    top: -7px;
    background-color: #039e1d;
    font-size: 30px;
}

}
    

  
    


    .section2 {
        position: relative;
        background-image: url(./img/1767837.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100vh;
        max-width: 1920px;
        max-height: 1080px;
        overflow: hidden;
        
    }


    .text10 {
    position: absolute;
    width: 70%;
    height: auto;
    left: 55%;
    top: 30%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #40FE5E
    }

    .text11 {
    position: absolute;
    width: 70%;
    height: auto;
    left: 55%;
    top: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #40FE5E;
    }

    .map1 {
        position: absolute;
        left: 91px;
        top: 89px;
    }

    .text12 {
        position: absolute;
        left: 280px;
        top: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #40FE5E;
    }


#popup {
    
    width: 454px;
    height: 399px;
    display:none;
    position: fixed;
    z-index: 1;
    left: 733px;
    top: 341px;
    overflow: hidden;
    background-color: #FFFFFF;

}

#close-popup{
    position : absolute;
    color: #aaa;
    float: right;
    font-size: 48px;
    font-weight: bold;
    right: 2px;
    top: 0px;
}


#close-popup:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Sign {
    position: absolute;
    width: 74px;
    height: 29px;
    left: 159px;
    top: 21px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 29px;
    color: #000000;
}


.inp1 {
    position: absolute;
    width: 136px;
    height: 33px;
    left: 149px;
    top: 121px;
    font-size: 100%;

}


.inp2 {
    position: absolute;
    width: 136px;
    height: 33px;
    left: 149px;
    top: 191px;
    font-size: 100%;
}